<ul class='unstyled custom-container'>
  <% if TentAdmin.settings[:status_url] %>
    <li>
      <a href='<%= TentAdmin.settings[:status_url] %>'><div class='nav-icon app-icon-tentstatus icon-2x'></div></a>
    </li>
  <% end %>

  <% if TentAdmin.settings[:search_url] %>
    <li>
      <a href="<%= TentAdmin.settings[:search_url] %>" title='Search'><div class='nav-icon app-icon-search icon-2x'></div></a>
    </li>
  <% end %>

  <li class='nav-selected'>
    <a href='<%= TentAdmin.settings[:url] %>' title='Admin'><div class='nav-icon app-icon-settings icon-2x'></div></a>
  </li>

  <li>
    <a data-view="AuthButton" data-signout-title='Sign out' data-signin-title="Sign in">
      <div class='nav-icon app-icon-signout icon-2x'></div>
    </a>
  </li>
</ul>
