<ul class="unstyled app-nav-list">
  <a href="<%= full_path("/profile") %>" class="<%= nav_selected_class("/profile") %>">
    <li>
      <i class="icon-user"></i>Profile
    </li>
  </a>
  <a href="<%= full_path("/apps") %>" class="<%= nav_selected_class("/apps") %>">
    <li>
      <i class="icon-list"></i>Apps
    </li>
  </a>
</ul>
