<ul class="unstyled app-nav-list" data-view="AppNavigation NavigationActive" data-active-class="active" data-active-selector='a'>
  <a href="<%= full_path("/profile") %>" data-fragment="profile" data-match-url="/profile" data-view='AppNavigationItem'>
    <li>
      <i class="icon-user"></i>Profile
    </li>
  </a>
  <a href="<%= full_path("/apps") %>" data-fragment="apps" data-match-url="/apps" data-view='AppNavigationItem'>
    <li>
      <i class="icon-list"></i>Apps
    </li>
  </a>
  <a href="<%= full_path("/posts") %>" data-fragment="posts" data-match-url="/posts" data-view='AppNavigationItem'>
    <li>
      <i class="icon-archive"></i>Posts
    </li>
  </a>
</ul>
